*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Fira Sans", serif;
    background-color: #F1F1F3;
}
main{
    max-width: 1180px;
    margin: 0 auto;
}
/* header start */
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.header h3{
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}
.b-btn{
    color: #006A50;
font-size: 18px;
font-weight: 600;
text-decoration: none;
border-radius: 6px;
padding: 5px 8px;
border: 1px solid #006A50;
}
.b-btn:hover{
background-color: cadetblue;
    color: aliceblue;
    transition: .3s;
}
/* header end */
/* banner start */
.banner{
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
background: #C6E4D6;
padding: 80px 100px;
margin-bottom: 80px;
}
.b-img{
    width: 30%;
}
.b-img img{
    width: 100%;
}
.b-content h5{
    color: rgba(14, 14, 14, 0.50);
font-family: "Fira Sans";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.b-content h2{
    color: #0E0E0E;
    font-size: 45px;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 26px;
}
.common-btn{
    text-decoration: none;
    color: #FFF;
font-size: 18px;
font-weight: 600;
border-radius: 8px;
background: #006A50;
padding: 15px 34px
}
.common-btn:hover{
    background-color: chocolate;
    color: aliceblue;
    transition: .3s;
}
/* banner end */
/* piller start */
.piller h3{
    color: #0E0E0E;
font-size: 35px;
font-weight: 700;
margin-bottom: 30px;
}
/* piller end */
/* innovation start */
.innovation{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}
.i-content{
padding: 24px;
gap: 24px;
border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
}
.i-content h4{
    color: rgba(14, 14, 14, 0.80);
font-size: 20px;
font-weight: 700;
margin-top: 20px;
margin-bottom: 12px;
}
.i-content p{
    color: rgba(14, 14, 14, 0.70);
font-size: 16px;
font-weight: 400;
}
/* innovation end */
/* vision start */
.vision h3{
    color: #0E0E0E;
font-size: 35px;
font-weight: 700;
}
.vision p{
    color: rgba(14, 14, 14, 0.70);
font-size: 16px;
font-weight: 400;
margin-top: 20px;
margin-bottom: 32px;
}
/* vision end */
/* future start */
.future{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-bottom: 32px;
}
/* digital start */
.digital{
padding: 32px;
gap: 24px;
border-radius: 16px;
border: 0px solid #5490F5;
background: rgba(84, 144, 245, 0.20);
}
.digital h4{
    color: rgba(14, 14, 14, 0.80);
font-size: 20px;
font-weight: 700;
margin-top: 24px;
}
.digital p{
color: rgba(14, 14, 14, 0.70);
font-size: 16px;
font-weight: 400;
margin-top: 12px;
margin-bottom: 24px;
}
.d-btn{
color: #FFF;
font-size: 16px;
font-weight: 600;
border-radius: 8px;
background: #5490F5;
padding: 11px 20px;
text-decoration: none;
}
.d-btn:hover{
    background-color: black;
    transition: .3s;
}
/* digital end */
/* energy start */
.energy{
border-radius: 16px;
border: 0px solid #09A15C;
background: #C6E4D6;
padding: 32px;
}
.energy h4{
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
}
.energy p{
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 24px;
}
.e-btn{
    border-radius: 8px;
background: #09A15C;
padding: 11px 20px;
text-decoration: none;
color: #FFF;
font-size: 16px;
font-weight: 600;
}
.e-btn:hover{
    background-color: brown;
    color:white;
    transition: .3s;
}
/* energy end */
/* modern start */
.modern{
    border-radius: 16px;
border: 0px solid #FFC239;
background: #F7EBCF;
padding: 24px;
}
.modern h4{
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
}
.modern P{
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 24px;
}
.m-btn{
    color: #FFF;
font-size: 16px;
font-weight: 600;
border-radius: 8px;
background: #FFC239;
padding: 11px 20px;
text-decoration: none;
}
.m-btn:hover{
    background-color: #09A15C;
    color: white;
    transition: .3s;
}
/* modern end */
/* future end */
/* speech start */
.speech{
    border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
padding:48px 24px;
background-image: url(../img/quote-bg.png);
background-repeat: no-repeat;
margin-bottom: 80px;
}
.speech p{
    color: rgba(14, 14, 14, 0.80);
font-size: 16px;
font-weight: 400;
}
.speech h4{
    color: rgba(14, 14, 14, 0.80);
font-size: 20px;
font-weight: 600px;
margin-top: 12px;
margin-bottom: 5px;
}
/* speech end */
/* news start */
.news h2{
    color: #0E0E0E;
font-size: 37px;
font-weight: 700;
}
.news p{
    color: rgba(14, 14, 14, 0.70);
font-size: 16px;
font-weight: 400;
margin-top: 20px;
margin-bottom: 32px;
}
/* news end */
/* satelite start */
.satelite{
    display: flex;
    border-radius: 24px;
background: #FFF;
padding: 48px;
margin-bottom: 24px;
gap: 32px;
}
.s-img{
    width: 35%;
}
.s-img img{
    width:95%;
    border-radius: 24px;
}
.s-content{
    width: 65%;
}
/* time start */
.time{
    display: flex;
    gap: 12px;
}
/* time end */
.s-content h3{
    color: rgba(14, 14, 14, 0.80);
font-size: 32px;
font-weight: 700;
margin-bottom: 10px;
}
.s-content p{
    color: rgba(14, 14, 14, 0.70);
font-size: 16px;
font-weight: 400;
margin-top: 10px;
}
.para{
margin-bottom: 32px;
}
.s-btn{
    color: #FFF;
font-size: 18px;
font-weight: 600;
border-radius: 8px;
background: #006A50;
padding: 13px 26px;
text-decoration: none;
}
.s-btn:hover{
    background-color: steelblue;
    color:whitesmoke;
    transition: .3s;
}
/* satelite end */
/* Launches start */
.Launches{
    display: flex;
    border-radius: 24px;
background: #FFF;
padding: 48px;
margin-bottom: 24px;
gap: 32px;
margin-bottom: 80px;
}
.l-btn{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: #006A50;
    padding: 13px 26px;
}
.l-btn:hover{
    background-color: indianred;
    color: whitesmoke;
    transition: .3s;
}
/* Launches end */
/* today start */
.today{
    text-align: center;
}
.today h2{
    color: #0E0E0E;
font-size: 37px;
font-weight: 700;
}
.today p{
    color: rgba(14, 14, 14, 0.70);
font-size: 16px;
font-weight: 400;
margin-top: 24px;
margin-bottom: 32px;
}
/* today end */
/* Donate start */
.Donate{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}
.d-content{
    border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
padding: 40px;
}
.d-content h2{
    color: rgba(14, 14, 14, 0.80);
font-size: 37px;
font-weight: 700;
}
.d-content:hover{
    background-color: burlywood;
    transition: .3s;
    color: white;
}
.o-content{
    border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
background: #C6E4D6;
padding: 40px;
}
.o-content h2{
    color: rgba(14, 14, 14, 0.80);
    font-size: 37px;
    font-weight: 700;
}
.o-content:hover{
    background-color: cornflowerblue;
    transition: .3s;
}
.n-content{
    border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
padding: 40px;
}
.n-content h2{
    color: rgba(14, 14, 14, 0.80);
    font-size: 37px;
    font-weight: 700;
}
.n-content:hover{
    background-color: indianred;
    transition: .3s;
}
.a-content{
    border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
padding: 40px;
}
.a-content h2{
    color: rgba(14, 14, 14, 0.80);
    font-size: 37px;
    font-weight: 700;
}
.a-content:hover{
    background-color: lightblue;
    transition:.3s ;
}
/* Donate end */
/* amount start */
.amount{
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
padding: 20px 40px;
margin-bottom: 32px;
}
.amount:hover{
    background-color: lightblue;
    transition: .3s;
}
.amount p{
    text-align: center;
    color: rgba(14, 14, 14, 0.30);
font-size: 20px;
font-weight: 400;
}
/* amount end */
/* taka start */
.taka{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.t-btn{
    border-radius: 8px;
border: 1px solid rgba(14, 14, 14, 0.10);
background: #006A50;
padding: 17px 34px;
color: #FFF;
font-size: 18px;
font-weight: 600;
text-decoration: none;
}
.t-btn:hover{
    background-color: tomato;
    transition: .3s;
}
/* taka end */
/* newsletter start */
.newsletter{
    text-align: center;
    border-radius: 24px;
background: #C6E4D6;
padding: 80px 100px;
margin-bottom: 80px;
}
.newsletter h2{
    color: #0E0E0E;
font-size: 37px;
font-weight: 700;
}
.newsletter p{
    color: rgba(14, 14, 14, 0.70);
font-size: 16px;
font-weight: 400;
margin-top: 16px;
margin-bottom: 24px;
}
#email{
    border-radius: 8px 0px 0px 8px;
background: #FFF;
padding: 18px 40px;
color: rgba(14, 14, 14, 0.30);
font-size: 16px;
font-weight: 400;
border: none;
margin-bottom: 10px;
}
#email:hover{
    background-color: burlywood;
    transition: .3s;
}
#Subscribe{
    border-radius: 0px 8px 8px 0px;
background: #006A50;
padding: 17px 34px;
color: #FFF;
font-size: 18px;
font-weight: 600;
border: none;
margin-left: -7px;
}
#Subscribe:hover{
    background-color: sienna;
}
/* newsletter end */
/* footer start */
footer{
    background: #FFF;
    padding: 50px 160px;
}
.bangla h3{
    color: #0E0E0E;
font-size: 32px;
font-weight: 700;
margin-bottom: 32px;
text-align: center;
}
.icon{
  display: flex;
  justify-content: center;
  gap: 23px;
}
/* footer end */